
.green {
  color:green;
}
.red {
  color:red;
}  

table {
  width: 100%;

}
tr:nth-child(even) {
  background-color: #dddddd;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}