
<mat-card>
    <h1>Model info for {{info[1]}}</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Age</mat-label>
              <input matInput 
                [(ngModel)] = "age"
                name = "age"
                required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Occupational Sequence</mat-label>
              <input matInput 
                [(ngModel)] = "sequence"
                name = "sequence"
                required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Income</mat-label>
              <input matInput 
                [(ngModel)] = "income"
                name = "income"
                required>
            </mat-form-field>
            <button  mat-raised-button
          color = "primary"
          (click) = "change()">
          Change to dollar
          </button>
        </p>
        <p *ngIf="pressed">
          {{ans}}
        </p>
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Surtys</mat-label>
              <input matInput 
                [(ngModel)] = "surtys"
                name = "surtys"
                required>
            </mat-form-field>
        </p> 
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Equity</mat-label>
              <input matInput 
                [(ngModel)] = "equity"
                name = "equity"
                required>
            </mat-form-field>
        </p>
        <p>
<mat-form-field appearance="fill">
  <mat-label>Insurance</mat-label>
  <mat-select [formControl]="animalControl" [(ngModel)]="option" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let option of options" [value]="option">
      {{option.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="animalControl.hasError('required')">Please choose an option</mat-error>
  <mat-hint>{{animalControl.value?.sound}}</mat-hint>
</mat-form-field>
</p>
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Mortgage</mat-label>
              <input matInput 
                [(ngModel)] = "mortgage"
                name = "mortgage"
                required>
            </mat-form-field>
        </p>
                            
        <div >
          <button *ngIf="!(showDrop)" mat-raised-button
           
          color = "primary"
          (click) = "tostring();predict();showDrop=!showDrop"
          >
          Predict
          </button>
          <span *ngIf="showDrop" appearance="fill">
            <mat-label >{{predDrop}}</mat-label >

          </span>
          

          <button *ngIf="showDrop" mat-raised-button
          color = "primary"
          (click) = "save()">
          Save
          </button>
          <button *ngIf="showDrop" mat-raised-button
           
          color = "primary"
          (click) = "showDrop=!showDrop">
          Cancel
          </button>
        </div>
      </div>
    </form>
   </mat-card>
