.welcome{

        background-image: url("https://www.homebuy.com/wp-content/uploads/2018/08/HomeBuy-home-banner-background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        width: 1200px;
        height: 800px;
        
    
    }
.title{
    text-align: center;
    color:white;
    font-size: 350%;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 50px;
    padding-top: 20px;
    
}

.exp{
    text-align: center;
    color:white;
    font-size: 250%;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 50px;
    padding-top: 30px;
    
}
.exp2{
    text-align: center;
    color:white;
    font-size: 250%;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding-top: 30px;
    
}