<div class="welcome">
    <p class="title">Mortage App</p>
    <p class="exp">This app helps you to manage your customers and  </p> 
    <p class="exp2">predict their chances to get a mortgage </p> 
    
</div>

