<mat-card>
    <h1>Add customer</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
        </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Phone</mat-label>
              <input name="phone" matInput
                [(ngModel)] = "phone" 
                name = "phone"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Country</mat-label>
              <input matInput 
                [(ngModel)] = "country"
                name = "country"
                required>
            </mat-form-field>
        </p>
        </div>
        <button 
            mat-raised-button
            color="primary"
            (click) = "getCountry()"
          >
            See Country
          </button>
 
  <div class="card"  *ngIf = "seeCountry">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{country}}</mat-card-title>
      <mat-card-subtitle>{{capital}}</mat-card-subtitle>
    </mat-card-header>
    <img [src] = "flag" height="250px" width="350px" >
    <mat-card-content>
      <p>
        Population: {{population}}
      </p>
      <p>
        Time zone:{{timezones}}
      </p>
      <p>
        Currency: {{currencies}}
      </p>
      <p>
        Language: {{languages}}
      </p>
      
        <button mat-stroked-button (click)="openSnackBar();save()">Save</button>
 

